/* -------------------------Variables-------------------------- */
/* ------------------------------------------------------------- */
:root {
    --modal-header-padding: 9rem 1rem;
    --primary-color: #3BAFDA;
    /*主色:藍色*/
    --secondary-color: #8CC152;
    /*輔色:綠色*/
    --secondary-color: #8CC152;
    /*輔色:綠色*/
    --important-color: #d90f00;
    /*警示色:紅色*/
    --important-color: #d90f00;
    /*警示色:紅色*/
    --important-color: #d90f00;
    /*警示色:紅色*/
    --important-color: #d90f00;
    /*警示色:紅色1111*/
}